#header {
    height: 10vh;
    background: linear-gradient(to bottom, purple, transparent);
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

#nav_menu {
    display: flex;
    gap: 25px;
}

#nav_menu a {
    text-decoration: none;
    color: pink;
    font-weight: 500;
    font-size: 16px;
}

#nav_menu a:hover {
    color: orange;
} 

#logo {
    width: 180px;
}

#btn_icon {
    display: none;
    border: none;
}

@media (max-width: 768px) {
    #btn_icon {
        display: block;
        height: 40px;
    }

    #nav_menu {
        display: none;
    }

    #logo {
        width: 200px;
    }
}

